<div class="h1"><h1><%= @merchant.name %> </h1></div>

<table class = "transaction_table" >
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Tag</th>
  <th>Amount</th>

</tr>
  <tr>
    <% @total_transaction_amount = 0 %>
    <% for transaction in @transactions %>
      <% if transaction.merchant.name == @merchant.name %>
        <td><p><%= transaction.trans_date %></p></td>
        <td><p><%= transaction.merchant.name() %></p></td>
        <td><p><%= transaction.tag.title() %></p></td>
        <td><p>£ <%= transaction.amount() %></p></td>
        <% @total_transaction_amount += transaction.amount.round()%>






  </tr>
      <% end%>
    <% end%>

<div class = "h1_add">Total spend (all months) : £<%= @total_transaction_amount%></div>
<br>
<br>
