
<div class="h1">
  <h1><%=@current_month_name%> 2018</h1>
</div>
<br>
<br>
<div class = "circle_container">
  <span class="dot"><p class="circles">Spend<br>£<%= @month_spend %></p></span>
  <span class="dot"><p class="circles">Budget<br>£<%= @total_budget %></p></span>
  <span class="dot"><p class="circles">Left<br>£<%= @remaining %></p></span>
</div>
<br>
<br>
<br>
<div class="graph-align">
<div class="graph">
<div style="position:absolute; left: 250px; top: 100px; right: 1px; bottom: 1px">

</div>
<h1 class="h1">Spend vs. Budget (%)</h1>

<% top = 50 %>
<% for tag in @tags %>
  <% total_transaction_amount = 0 %>
  <% for transaction in @month_transactions %>
    <% if transaction.tag.title == tag.title %>
      <% total_transaction_amount += transaction.amount() %>
    <% end%>
  <% end%>

  <% result = ((total_transaction_amount*100) / (tag.budget)).to_i %>
  <% top += 70 %>

  <div class="bar" style="left: 20%;  top: <%= top %>px; height: 50px; width: <%= result%>% "><%= tag.title %>  <%= result%>%</div>
<% end%>
</div>

</div>
