<div class="h1"><h1>Category "<%= @tag.title.capitalize %>"  transactions</h1></div>

<div class="totals">Month budget £<%= @tag.budget %></h1></div>
<br>
<br>

<table class = "transaction_table" >
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Tag</th>
  <th>Amount</th>
  <th></th>
  <th></th>
</tr>
  <tr>
    <% @total_transaction_amount = 0 %>
    <% for transaction in @transactions %>
      <% if transaction.tag.title == @tag.title %>
        <td><p><%= transaction.trans_date %></p></td>
        <td><p><%= transaction.merchant.name() %></p></td>
        <td><p><%= transaction.tag.title() %></p></td>
        <td><p>£ <%= transaction.amount() %></p></td>
        <% @total_transaction_amount += transaction.amount() %>

        <td><form method='get' action='/transactions/<%= @transaction.id %>/edit'><input value='Edit'/ type='image' src=  "edit-button.png" height = "20" width = "20"></form></td>

        <td><form method='post' action='/transactions/<%= @transaction.id %>/delete'><input value='Delete'/ type='image' src=  "delete-button.png" height = "20" width = "20"></form></td>

  </tr>
      <% end%>
    <% end%>
