<br>
<br>
<h1 class = "h1">Spend of £<%=@transaction.amount%> at <%=@transaction.merchant.name%> successfully added!</h1>
<br>
<br>
<br>
<div class = "h1_add">Total spend in <%=@current_month_name%> is now £<%=@revised_spend%>.  That leaves £<%=@now_remaining%> remaining of the total month budget of £<%= @total_budget%>.</div>
