<h1>Spend of £<%=@transaction.amount%> at <%=@transaction.merchant.name%> successfully added!</h1>




<p>Total month spend is £<%=@revised_spend%> and total budget is £<%= @total_budget%> (£<%=@now_remaining%> remaining).</p>
