<h1>Transactions for <%=@current_month_name%></h1>

<p>Month Spend £<%= @month_spend %></p>

<p> Month Budget £<%= @total_budget %></p>

<table class = "transaction_table" >
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Tag</th>
  <th>Amount</th>
  <th>View</th>
</tr>
  <tr>

<% for transaction in @month_transactions %>
<td><p><%= transaction.trans_date %></p></td>
<td><p><%= transaction.merchant.name.capitalize() %></p></td>
<td><p><%= transaction.tag.title.capitalize %></p></td>
<td><p><%= transaction.amount() %></p></td>

    <td>  <a class="view_button" href="/transactions/<%= transaction.id %>" role="view_button" >View</a></td>

    <td><form method='get' action='/transactions/<%= transaction.id %>/edit'><input class="mybutton" type='submit' value='Edit'/></form></td>

    <td><form method='post' action='/transactions/<%= transaction.id %>/delete'><input class="delete_button" type='submit'role="button" value='Delete'/></form></td>

    </tr>
  <% end%>
