<h1>Transactions for<%=@month_name%></h1>

<p>Month Spend £<%= @month_spend %></p>

<p> Month Budget £<%= @total_budget %></p>


<% for transaction in @month_transactions %>
<p>Date: <%= transaction.trans_date %></p>
<p>Merchant: <%= transaction.merchant.name() %></p>
<p>Tag: <%= transaction.tag.title %></p>
<p>Amount: £<%= transaction.amount() %></p>

      <a class="mybutton" href="/transactions/<%= transaction.id %>" role="button" >View Transaction</a>




    <% end%>
