<h1>Transaction Details  </h1>

<div class="add">
  <p><strong> Date: </strong><%= @transaction.trans_date %></p>
  <p><strong> Merchant: </strong><%= @transaction.merchant.name %></p>
  <p><strong> Tag: </strong><%= @transaction.tag.title %></p>
  <p><strong> Amount: </strong><%= @transaction.amount %></p>

  <br>
  <form method='get' action='/transactions/<%= @transaction.id %>/edit'>

    <input class="mybutton" type='submit' value='Edit Transaction'/>

  </form>
<br>
<br>
<form method='post' action='/transactions/<%= @transaction.id %>/delete'>

  <input class="mybutton" type='submit'role="button" value='Delete Transaction'/>

</form>
  </div>
